---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [3]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

#Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [1]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [16]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    data = pd.read_table('university_towns.txt', header = None)
    data.rename(columns={0:'State'}, inplace=True)
    #data['Continent'] = [contiDict[country] for country in top15['Country']]
    #top15 = top15.groupby(['Continent','bins']).size()   
    #data = data.reset_index()
    
    return data

get_list_of_university_towns()

                                                 State
0                                        Alabama[edit]
1                        Auburn (Auburn University)[1]
2               Florence (University of North Alabama)
3      Jacksonville (Jacksonville State University)[2]
4           Livingston (University of West Alabama)[2]
5             Montevallo (University of Montevallo)[2]
6                            Troy (Troy University)[2]
7    Tuscaloosa (University of Alabama, Stillman Co...
8                    Tuskegee (Tuskegee University)[5]
9                                         Alaska[edit]
10       Fairbanks (University of Alaska Fairbanks)[2]
11                                       Arizona[edit]
12          Flagstaff (Northern Arizona University)[6]
13                    Tempe (Arizona State University)
14                      Tucson (University of Arizona)
15                                      Arkansas[edit]
16   Arkadelphia (Henderson State University, Ouach...
17   Conway (Central Baptist College, Hendrix Colle...
18            Fayetteville (University of Arkansas)[7]
19            Jonesboro (Arkansas State University)[8]
20          Magnolia (Southern Arkansas University)[2]
21   Monticello (University of Arkansas at Monticel...
22          Russellville (Arkansas Tech University)[2]
23                      Searcy (Harding University)[5]
24                                    California[edit]
25                   Angwin (Pacific Union College)[2]
26               Arcata (Humboldt State University)[5]
27    Berkeley (University of California, Berkeley)[5]
28       Chico (California State University, Chico)[2]
29   Claremont (Claremont McKenna College, Pomona C...
..                                                 ...
537          Cheney (Eastern Washington University)[2]
538      Ellensburg (Central Washington University)[5]
539           Pullman (Washington State University)[5]
540  University District, Seattle (University of Wa...
541                                West Virginia[edit]
542                     Athens (Concord University)[2]
543     Buckhannon (West Virginia Wesleyan College)[2]
544            Fairmont (Fairmont State University)[2]
545             Glenville (Glenville State College)[2]
546                Huntington (Marshall University)[2]
547  Montgomery (West Virginia University Institute...
548           Morgantown (West Virginia University)[2]
549             Shepherdstown (Shepherd University)[2]
550          West Liberty (West Liberty University)[2]
551                                    Wisconsin[edit]
552                     Appleton (Lawrence University)
553    Eau Claire (University of Wisconsin–Eau Claire)
554      Green Bay (University of Wisconsin-Green Bay)
555  La Crosse (University of Wisconsin–La Crosse, ...
556       Madison (University of Wisconsin–Madison)[2]
557       Menomonie (University of Wisconsin–Stout)[2]
558  Milwaukee (Marquette University, University of...
559          Oshkosh (University of Wisconsin–Oshkosh)
560  Platteville (University of Wisconsin–Plattevil...
561  River Falls (University of Wisconsin–River Fal...
562  Stevens Point (University of Wisconsin–Stevens...
563                      Waukesha (Carroll University)
564  Whitewater (University of Wisconsin–Whitewater...
565                                      Wyoming[edit]
566                 Laramie (University of Wyoming)[5]

[567 rows x 1 columns]

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"